:root {
    --easing: cubic-bezier(0.310, 1.280, 0.320, 1.275);
    --timing: 0.4s;
  }
  
  html {
    height: 100%;
  }
  
  body {
    height: 100%;
    background: hsl(209, 26%, 15%);
    color: hsl(209, 26%, 95%);
    display: grid;
    align-items: center;
    padding: 0 15vmin;
  }
  
  h3 {
    font-family: 'Helvetica';
    font-size: clamp(1rem, 3vw, 4.5rem);
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    gap: 0.5ch;
  }
  
  /* Isolate this element for layout and rendering optimization */
  h3 span {
    contain: content;
    padding: 1rem 0;
  }
  
  .word {
    color: hsl(81, 48%, 52%);
    view-transition-name: word-swap;
  }
  
  h3 span:last-child {
    view-transition-name: last-child;
  }
  
  ::view-transition-group(last-child) {
    animation-duration: var(--timing);
    animation-timing-function: var(--easing);
  }
  
  ::view-transition-new(word-swap),
  ::view-transition-old(word-swap) {
    height: 100%;
    object-fit: none;
    object-position: top left;
    animation-timing-function: var(--easing);
    animation-duration: var(--timing);  
  }
  
  /* Leaving */
  ::view-transition-old(word-swap) {
    animation-name: slide-out;
  }
  
  /* Entering */
  ::view-transition-new(word-swap) {
    animation-name: slide-in;
  }
  
  @keyframes slide-out {
    100% {
      opacity: 0;
      translate: 0 100%;
    }
  }
  
  @keyframes slide-in {
    0% {
      opacity: 0;
      translate: 0 -100%;
    }
  }
  